.crossfade-item {
  display: none;
  opacity: 0;
  transition: opacity .8s; // If this is changed, also change the timeout in the preloader component
  will-change: opacity;

  &.preloaded {
    display: block;
  }

  &.active {
    display: block;
    opacity: 1;
    z-index: 1;
  }
}
