.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .block-sm {
    display: block;
  }
}
@media (min-width: 1200px) {
  .block-lg {
    display: block;
  }
  .flex-lg {
    display: flex;
  }
  .hidden-lg {
    display: none;
  }
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.w-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .w-6-sm {
    width: 50%;
  }
}
