.animate {
  visibility: hidden;
  animation: 1.5s;
  animation-fill-mode: both
}


@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fade-in {
  animation-name: fadeIn;
  visibility: visible;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  visibility: visible;
}
