@use "../../node_modules/air-scss/scss/mixins/breakpoints" as *;

body {
  background: #FFFCF7;
  background-attachment: fixed !important;
  color: var(--color);
  font-style: normal;
  font-weight: normal;
  font: 16px/1.4 'Elegant Lux Pro Mager', sans-serif;
  letter-spacing: .03em;
  min-width: 320px;
  overflow-y: scroll;
  overscroll-behavior: none;
}