@font-face {
  font-family: 'Bebas Neue';
  src: url(/fonts/bebasneue_bold-webfont.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Elegant Lux Pro Mager';
  src: url(/fonts/elegantluxpro-mager-webfont.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal
}