@font-face {
  font-family: 'Bebas Neue';
  src: url(/fonts/bebasneue_bold-webfont.woff2) format('woff2');
  //  font-weight: bold;
  font-weight: normal;
  font-style: normal
}

//@font-face {
//  font-family: 'Bebas Neue';
//  src: url(/fonts/bebasneue_book-webfont.woff2) format('woff2');
//  font-weight: normal;
//  font-style: normal
//}

@font-face {
  font-family: 'Elegant Lux Pro Mager';
  src: url(/fonts/elegantluxpro-mager-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Icons";
  src: url(/fonts/icons.woff) format('woff');
  font-weight: normal;
  font-style: normal
}