@use "../../node_modules/air-scss/scss/mixins/breakpoints" as *;

//.block-menu {
//  .has-menu . & {
//    display: block;
//  }
//}

.header {

  @include media-breakpoint-up(lg) {
    position: absolute;
    z-index: 10;

    .is-scrolled & {
      position: fixed;
      background: #FFFCF7;
      border-bottom: 2px solid #ad9963;
      transition: transform .3s;
    }

    .is-collapsed & {
      transform: translateY(-100%);
      border-bottom: transparent;
    }
  }
}

.hidden-menu {
  @include media-breakpoint-down(md) {
    .has-menu & {
      display: none;
    }
  }
}

.navbar {
  grid-template: var(--logo-h) auto / 1fr var(--logo-w) 1fr;
  grid-template-areas: "logo logo logo" "menu menu menu";

  @include media-breakpoint-down(md) {
    .has-menu & {
      min-height: 100svh;
    }
  }

  @include media-breakpoint-up(sm) {
    grid-template-areas: "phone logo ." "menu menu menu";
  }

  @include media-breakpoint-up(lg) {
    grid-template-areas: "phone logo menu";
  }
}

.phone {
  grid-area: phone;
}

.logo {
  grid-area: logo;
  width: var(--logo-w);
  height: var(--logo-h);
}

.menu-btn {
  top: var(--box-y);
  right: var(--box-x);
  width: 40px;
  height: 40px;
  background: url(/images/site/menu.svg) no-repeat;
  z-index: 10;

  .has-menu & {
    background: url(/images/site/close.svg) no-repeat;
  }
}

.menu {
  grid-area: menu;

  @include media-breakpoint-down(md) {
    .has-menu & {
      display: grid;
      padding: 40px;
      text-align: center;
      font-size: 28px;
      line-height: 1.8;
    }
  }
}

.menu-item {
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    font-family: "Bebas Neue", sans-serif;
  }
}

.nav-link {
  &.active {
    color: #ad9963;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-color .2s;

    @media (hover: hover) {
      &:hover {
        border-color: #000;
      }
    }

    &.active {
      border-color: #ad9963;
    }
  }
}

//.menu-icons {
//  @include media-breakpoint-up(lg) {
//    position: fixed;
//    flex-flow: column;
//    right: 10px;
//    top: 50%;
//    transform: translateY(-50%);
//  }
//}

.menu-icon {
  padding: 40px 5px 0;

  //@include media-breakpoint-up(lg) {
  //  padding: 5px 0;
  //}
}