@use "../../node_modules/air-scss/scss/mixins/_breakpoints.scss" as *;

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.content {
  min-height: 100svh;
}

.wrap {
  @include media-breakpoint-up(sm) {
    padding: 0 var(--box-x);
  }
}

.sections:first-child {
  @include media-breakpoint-up(lg) {
    padding-top: calc(var(--logo-h) + var(--box-y));
  }
}

.box {
  padding: var(--box-y) var(--box-x);
}