@use "../../node_modules/air-scss/scss/mixins/breakpoints" as *;
@use "../../node_modules/air-scss/scss/reset";
@use "mixins/fonts" as *;

section {
  position: relative;
}

strong {
  @extend %bebas;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 6px 0;
  vertical-align: top;
}

td:last-child {
  text-align: right;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ad9963;
}